div{
    border-radius: 20px;
    background-color: indigo;
    width:50%;
    height:fit-content;
    
}
h1{
    color: white;
}
body{
    background-color: red;
}
input{
    width: 400px;
    height: 100px;
    font-size: 50px;
    color: red;
}